@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
}

.txt-um,
.txt-dois {
  font-family: "Roboto", sans-serif;
  line-height: 0.5em;
}

.txt-um {
  font-size: 20px;
  font-weight: bold;
  color: #baa193;
  line-height: 2.5em;
  margin-left: 50px;
}

.txt-dois {
  font-size: 50px;
  font-weight: bold;
  color: #72005f;
  margin-bottom: 20px;
}

.container-conselhos {
  display: flex;
  justify-content: space-between;
  width: 900px;
  background-color: #faf0e6;
  border-radius: 8px;
}

#conselho {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #72005f;
  margin-left: 20px;
  margin-top: 100px;
}

.autor {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: oblique;
  color: #baa193;
  margin-left: 500px;
  margin-top: 50px;
}

.img-bodes {
  border-radius: 0px 8px 8px 0px;
}
