@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  width: 320px;
}

.txt-um,
.txt-dois,
.botao {
  font-family: "Roboto", sans-serif;
}

.txt-um {
  font-size: 40px;
  font-weight: bold;
  color: #baa193;
  line-height: 2.5em;
}

.txt-dois {
  font-size: 150px;
  font-weight: bold;
  color: #72005f;
}

.botao {
  background-color: #72005f;
  width: 330px;
  padding: 20px 20px 20px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: white;
}

.bodezinho {
  width: 400px;
  height: 500px;
  margin-left: 200px;
}
